<div class="row">
    <div class="col-md-4">
        <h5>Input Type Text</h5>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr">
        </div>

        <h5>Input Type Text Readonly</h5>
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr" readonly>
        </div>

        <h5>Input Type Password</h5>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
    </div>

    <div class="col-md-4">
        <h5>Input Type Textarea</h5>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>

        <h5>Input Type Textarea Readonly</h5>
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" readonly></textarea>
        </div>
    </div>

    <div class="col-md-4">
        <h5>Input Type Checkbox With Vertical</h5>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Option 2
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="" disabled>Option 3
                </label>
            </div>
        </div>



        <h5>Input Type Checkbox With Horizontal</h5>
        <div class="form-group">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Option 2
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="" disabled>Option 3
                </label>
            </div>
        </div>

        <h5>Input Type Radio With Vertical</h5>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Option 1
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Option 2
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" disabled>Option 3
                </label>
            </div>
        </div>

        <h5>Input Type Radio With Horizontal</h5>
        <div class="form-group">
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Option 1
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio">Option 2
                </label>
            </div>
            <div class="form-check-inline disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" disabled>Option 3
                </label>
            </div>
        </div>

        <h5>Select Options</h5>
        <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1" name="sellist1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
    </div>
</div>